body{
    background-image: linear-gradient(to bottom, #000141, #001750, #00285e, #00386a, #004875, #2a5281, #445d8d, #5a6899, #826ea2, #a873a3, #c97b9d, #e28693);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}