.container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: absolute;
   top: 20%;
   left: 41%;

    &-items{
        display: grid;
        text-align: center;

        img{
            margin-bottom: 40px;
            border-radius: 200px;
            padding: 20px;
        }
    }
}

